[2019-06-21 20:27] lcoombe opened #3 "Add better log messages"
Add progress log messages to the `minimizer_assembly.py` script
- Include time stamp to assess costly stages

[2019-06-25 22:16] #3 closed, assigned to lcoombe

[2019-06-25 22:17] lcoombe opened #4 "Add gap distance estimation"
- Estimate the distance between scaffolds in a path based on the positions of the minimizers on the reference that support that merge

[2019-07-17 23:34] #4 closed, assigned to lcoombe

[2019-07-23 17:35] lcoombe opened #6 "Separate assigned + unassigned scaffolds"
Update output so that it separately outputs the assigned scaffolds (ie. those put into a path by ntJoin) and unassigned scaffolds (those NOT put into a path by ntJoin)

[2019-07-23 22:41] #6 closed, assigned to lcoombe

[2020-01-30 00:25] lcoombe opened #17 "Add AGP output"
* Add option for outputting AGP file describing the output scaffolds

[2020-01-31 22:55] lcoombe commented on #17
Added in #19

[2020-01-31 22:55] #17 closed

[2020-02-03 16:21] enormandeau opened #20 "Question: How stable is ntJoin?"
I'm looking for genome scaffolding using the info of other high-quality genomes. I like how ntJoin looks so far.

- How mature/stable would you say ntJoin is at this point?
- What big changes are likely to occur in the coming months?

Thanks!

[2020-02-03 17:47] lcoombe commented on #20
Hi @enormandeau,

Yes, ntJoin is both mature and quite stable right now - The latest release was used for the experiments in our ntJoin preprint (https://www.biorxiv.org/content/10.1101/2020.01.13.905240v1.article-metrics).

At this time, we don't have any major changes to the current scaffolding functionality planned. We're always open to feature requests, though.

Thanks for you interest in ntJo

[2020-02-03 18:13] enormandeau commented on #20
Thank you! I will definitely try ntJoin :)

[2020-02-03 18:13] #20 closed

[2020-02-06 13:48] ViriatoII opened #22 "Make error after successful instalation"
Hey,

I have this error:

`make: *** No rule to make target `B73v4.txt', needed by `B73v4.txt.k30.w1000.tsv'.  Stop.`

When trying to run my command after a successful installation from source:

[code]

What's wrong? Do you think I should reinstall?

[2020-02-06 16:39] lcoombe commented on #22
Hi @ViriatoII,

Are both your assembly and reference in fasta format?
Are you using the most recent commit in the repo? Previously, ntJoin expected both the target and the reference(s) to have the `.fa` suffix, but I made a fix earlier this week that should allow any suffix.

Also, the target assembly and reference files all need to be in the current working directory - so you could make a soft li

[2020-02-07 14:36] ViriatoII commented on #22
Ok, thanks!  Yeah, that was the problem.

Maybe the program could give an error message saying that references must be in the same directory?

Cheers,
Ricardo

[2020-02-07 14:36] #22 closed

[2020-02-07 18:13] lcoombe commented on #22
Glad you got it working! I've added a note about the files needing to be in the working directory to the README and the help page. I'll look into adding some error checking in the `ntJoin` makefile as well.
Thank you for your interest in ntJoin!

[2020-02-09 21:50] ViriatoII opened #23 "Output same as input"
Hi again,

So the program sounds great, but it's outputing the same as the input. I've tried many different k and w parameters, as well as different target assemblies and different number of references.

Any idea of what might be wrong? Here goes a print of my last round.

[code]

The references are a 10 Mbps region in different genotypes of the same species. Ragoo was able to scaffold my target a

[2020-02-10 16:38] lcoombe commented on #23
Hi @ViriatoII,

Just to be sure, is the output PATH file and `assigned.scaffolds.fa` file empty? I added a test script last week (`tests/test_installation.sh`) that you could use to double check that your installation is working correctly.

As for what's going on if the installation is correct, how does the contiguity of your target assembly and the 'references' compare in that region of interest?

[2020-02-10 18:46] ViriatoII commented on #23
Hey,

Thank you for the support!  The installation seems correct. The results of the test script are the same as the examples.

The *.assigned.scaffolds.fa are not empty. They have 7 sequences (same number as the references?) and a ton of Ns.  In fact, I was wrong to say the final output is exactly the same as input, a couple of contigs have been scaffolded, but this was so minimal that I hadn't n

[2020-02-10 19:02] lcoombe commented on #23
Hi @ViriatoII,

It is possible that there are differences between the various references that are breaking up the graph.
If each of the assemblies have a single scaffold across your region of interest, have you tried scaffolding your target assembly with just one of the references (say, the most contiguous one)? That would help to understand if the issue is differences between the references (perh

[2020-02-11 09:37] ViriatoII commented on #23
Good morning!

Using the most contiguous reference I get a single scaffold with 75494 Ns per 100 kbs (double of with more refs). This happens with ref_weight equal to 2, 3 and 4. Ref_weight=1 creates 30 scaffolds with 40 000 Ns per 100Kb, and also doesn't use 900 of my original scaffolds.

This differs from RaGoo that scaffolded 600 of them just using the best reference.

[code]

[2020-02-11 16:52] lcoombe commented on #23
Glad to hear that you were able to get a single scaffold using the one reference!

Gap lengths are estimated based on the supplied reference (Looking at a figure in the supplementary information of the biorxiv paper might be clearer than me trying to explain here).

You should use a reference weight >=2 in this case, since you want to trust the reference most. Because those weights are used as edg

[2020-02-12 10:26] ViriatoII commented on #23
I'm sorry, @lcoombe but I think you misunderstood my previous post.

The good statistics are from ragoo, my ntJoin runs are very far from it, they leave unscaffolded 900 of my original target contigs, while ragoo only leaves 300 unscaffolded.

Maybe the problem is that I'm using unpolished pacbio data. Do you think this breaks your minimizer strategy? Also, the references are from the same species

[2020-02-12 16:44] lcoombe commented on #23
Hi @ViriatoII,
It is hard to say without having the data and all the information, but it seems like there are areas where contigs are unable to be placed (hence my mentioning the gap-size estimations in my previous post). This could be due to a number of factors such as the size of the pieces vs. your parameter settings, the base variability between the target and the reference, etc. Also, I don't

[2020-03-04 21:48] rajewski opened #24 "How will ntJoin handle gaps with Ns in a scaffold?"
I've been assembling a genome using ABySS, LINKS, RAILS, Sealer and ntEdit and want to try ntJoin using a related species' reference to improve contiguity. My ABySS assembly has a lot of very small contigs (~150bp) so the N50 is low, but there are much larger contigs in the assembly. On the other hand, the scaffolded assembly has gaps that I wouldn't want filled with sequence from a distance refer

[2020-03-04 22:43] lcoombe commented on #24
Hi @rajewski,

I'd expect ntJoin to work well on either the baseline ABySS assembly or the assembly after scaffolding. I've tried using ntJoin with a human assembly with N50 as low as 19kb, and I saw that ntJoin was still able to scaffold that pretty well with the human reference.

That being said, I think doing the LINKS and RAILS scaffolding steps with Sealer/ntEdit would be a good idea to get t

[2020-03-05 22:16] #24 closed

[2020-03-05 22:16] rajewski commented on #24
Thanks a bunch!

[2020-03-23 16:20] lcoombe commented on #23
@ViriatoII -- I know we've been discussing this via e-mail, but I thought I'd update this ticket with what we talked about so it could help future users.

There appeared to be a few factors that were influencing the amount of sequence being placed and the number of Ns in the output scaffolds. Probably the biggest one is that this is a very repetitive genome, which influences how many 'anchor' mini

[2020-03-23 16:20] #23 closed

[2020-05-22 07:06] kingcohn1 opened #27 "malformed bed entry?"
hello and thank you for developing this program. I'm attempting to map a highly fragmented draft assembly to a reference using:

[code]

Although bedtools is in the path, I'm getting this  error:

[code]
thanks!

[2020-05-22 15:51] lcoombe commented on #27
Hi @kingcohn1,

Interesting - I haven't seen that error before. Did this happen at the stage where the log says that it is "Printing output scaffolds"? Could you paste the full log to confirm? What version of bedtools are you using?

The first place I would look is line 22 of the `*unassigned.bed` file -- is the start greater than the end in that entry?

[2020-05-22 16:00] kingcohn1 commented on #27
thanks for the quick reply! It looks like the bed v2.25.0 file didn't write properly (lines 22 and 23)
[code]
And here's more of the output
[code]
thanks!

[2020-05-22 16:20] lcoombe commented on #27
Can you try updating your bedtools? I tried using `bedtools getfasta` with bedtools v2.29.2 and a BED file with a zero-length entry, and I get a warning (`Feature (mx0:0-0) has length = 0, Skipping.`), but no malformed BED entry error. I get the same error as your are seeing though if I do the same command with bedtools v2.25.0. I see an issue reported to `bedtools` developers about length 0 inter

[2020-05-22 17:05] kingcohn1 commented on #27
Yes, that worked! Thank you :+1:

[2020-05-22 17:06] lcoombe commented on #27
Excellent! I'll add a note about the bedtools versions in the README.

Thanks for your interest in ntJoin!

[2020-05-22 17:06] #27 closed

[2020-06-05 07:32] Tierhon opened #28 "Adding sequence from the reference into gaps"
Hi,
thank you for this nice tool. It does almost exactly what I want.

I have two different assemblies based on the same dataset (from two different assemblers). They are quite different, and by using one of them as a reference I get a nice conciliation. However, the reference do have sequence that could be added into the gaps of the target. Is it easy to add an option to fill those gaps?

I know

[2020-06-05 20:37] lcoombe commented on #28
Hi Ole,

That's an interesting suggestion! In terms of implementation, it wouldn't be a completely trivial feature, but is certainly possible.

I guess there's a couple of considerations when thinking about adding a feature that would allow filling in gap sequences:
* It would probably have to be limited to when a single reference is supplied (it would get more tricky if multiple references are us

[2020-06-08 11:33] Tierhon commented on #28
Hi Lauren.

I agree that this can only be limited to when a single reference is used. Otherwise it would be non-trivial to insert the sequence (from one reference, or consensus of several, what if gap lengths differ a lot, etc).

You second point is unfortunate. I know that the two different haplotypes in my organism is quite different, but not exactly how different. There will certainly be indels

[2020-06-08 16:00] lcoombe commented on #28
Hi Ole,

One approach you could potentially take is running ntJoin to do the scaffolding quickly and alignment-free, then fill gaps with Cobbler (https://github.com/bcgsc/rails) - This is a tool that uses alignments of long sequences (of any origin) to fill in gap sequences. I do agree that in this particular case where you want to fill in the gap sequence, perhaps read alignments are better suite

[2020-06-08 17:12] Tierhon commented on #28
Hi Lauren,
thank you for your suggestion. However, I've got a couple of 100 gaps that are longer than abot 30 kbp, with several longer than 100 kbp. There is certainly something really interesting going on in the differences between these two assemblies. I am not sure if Cobbler can help filling those long gaps.

The optional output file could be useful, but I might just infer it from minimap2 map

[2020-06-08 18:09] lcoombe commented on #28
Hi Ole,

Theoretically, the gap size shouldn't matter to Cobbler, it just needs to have a long sequence that is able to have good anchoring alignments on either side of the gap -- but of course there are no guarantees, so you'd have to try it out to see how well it worked for you!

When I'm doing runs (whether it be human, frog, conifers), I find that k=32, w=500 tends to work well for most datase

[2020-06-16 08:56] drashwinelkar opened #32 "make error using a container for ntJoin"
I love this tool as it does exactly what I want.
I am using two containers for ntJoin from biocontainers.pro
quay.io/biocontainers/ntjoin:1.0.1--py37he513fc3_0
quay.io/biocontainers/ntjoin:1.0.1--py36he513fc3_0

while using both I get the make error :
command time -v -o Ctet_49205_Harvard.fa.k32.w500.tsv.time /usr/local/bin/share/ntjoin-1.0.1-0/src/indexlr --pos -k 32 -w 500 -t 2 Ctet_49205_Harvar

[2020-06-16 09:11] drashwinelkar opened #33 "failure to install from git"
I tried to install from the git source following the instructions.
I ensured that I have all the dependencies from python3 as well as zlib and the correct version of bedtools and samtools
however when I run the command make
all I get is:
 g++ -g -O3 -Wall -Werror -Wno-error=unknown-pragmas -std=c++11 -pthread -I./include -I./vendor    indexlr.cc  -lz -o indexlr
with no output after this
it reverts

[2020-06-16 15:56] lcoombe commented on #33
Hi @drashwinelkar,

Have you ensured that the path to your git repo (`/path/to/ntJoin_git_repo`) is on your PATH?
The shell script looks for the makefile `ntJoin`, so if you you are in the `tests` directory and the path to the main folder for ntJoin isn't on your PATH it would error out. You could run `echo $PATH` to double check.

Hope that helps, and thanks for your interest in ntJoin!
Lauren

[2020-06-16 18:17] lcoombe commented on #32
Hi @drashwinelkar,

Interesting -- the docker containers are built automatically from the bioconda recipe, so I actually haven't tried them out yet. I can reproduce your issue -- it looks like the `time` available in the container is quite different from what I've seen in the past, so doesn't have a `-o` option.
A workaround here should be to specifically set the `time` variable in your `ntJoin` c

[2020-06-17 05:43] drashwinelkar commented on #32
Hi lcoombe
Thanks for your very prompt reply! Yes that fixes the issue. but now I get the following error:
make: *** No rule to make target 'Ctet_49205_Harvard.fasta.k70.w1000.tsv', needed by 'assemble'.  Stop.
So I run the same command in the container and in the version I installed using brew.
It works on the brew version and does not in the container. I will try the latest version of the same.

[2020-06-17 05:44] drashwinelkar commented on #33
Yes that fixed it! Thanks for the very fast answer.
Also I installed from brew in the meantime and it works like a charm!
This tool you have made is fantastic! Thanks for that.

[2020-06-17 05:44] #33 closed

[2020-06-17 16:09] lcoombe commented on #32
Hi @drashwinelkar,

Great, I'm glad that fixed the `time` issue!

For the container vs. brew -- I'm guessing it is due to using release 1.0.1 vs the latest 1.0.2 (If you are using the same containers that you have in your original comment). Between release 1.0.1 and 1.0.2, I updated the code to allow input fasta files with any file extension, vs. before it required `.fa` as the suffix. So yes, tha

[2020-06-17 16:10] lcoombe commented on #33
I'm glad that worked, and it's so great to hear that you're finding ntJoin useful! :)

[2020-07-02 20:12] elsemikk opened #34 "Increased assembly size"
Thanks for making this tool, I'm very excited to use it!

I am trying to improve the contiguity of some 10X Genomics linked-reads assemblies but am running into some issues - I have a starting genome with 1.1 Gb size and 1.9% gaps with an N50 of 25 Mb. I want to improve it using a chromosome scale assembly of a closely related (10 MY diverged) species that is 1.05 Gb size and 3% gaps with an N50 o

[2020-07-02 21:36] lcoombe commented on #34
Hi @elsemikk ,

Wow that does seem like a large increase in reconstruction! Do all the stats you have above include the "Ns" in the calculations? If so, could you also provide the stats not including ambiguity codes? (I use `abyss-fac` for this) It looks like the gap estimates are going too large, but having that info would help to confirm that.

The easiest thing to try would be, as you have, usi

[2020-07-03 06:27] elsemikk commented on #34
Thanks for the advice and speedy reply! Those stats do include the N's.

I tried a few more settings and checked the stats with `abyss-fac` like you recommend.
I tried with G=5000 and no_cut=False and still got a very big assembly: 3.0 Gb. Maybe I need to critically look at my assembly for misassembles, your explanation makes sense. But it seems like when I switched from `target_weight=1 reference

[2020-07-03 22:54] lcoombe commented on #34
Thanks for reporting back @elsemikk ! I'm glad you were able to tweak the parameters to get some better reconstructions.

I looked at a couple of examples on my end in more detail after you reported the increased reconstruction, and I could see some edge cases where sequence could be duplicated in the output scaffolds -- I wonder if those cases just happened to be more pronounced/common for your d

[2020-07-11 01:24] #28 closed

[2020-07-12 03:48] matt-shenton opened #37 "Problem with multiple references"
Hi there, thanks a lot for this great tool.
I am interested in using 2 references, but the program does not seem to produce any output.

I changed a couple of bases in the test "ref.fa" and called it ref2.fa.
I tried to run as follows:

ntJoin assemble target=scaf.f-f.fa target_weight=1 references='ref.fa ref2.fa' reference_weights='3 2' agp=True

I get output for the first reference, but it seems

[2020-07-13 01:06] lcoombe commented on #37
Hi Matt,

That's strange -- your command looks fine and it works ok on my end. It looks like the quotes aren't being recognized properly on your machine, so that `ref2.fa` and `2` end up erroneously looking like targets for the makefile.

Could you try using double quotes instead and see if that helps?

Thank you for your interest in ntJoin!
Lauren

[2020-07-13 04:25] matt-shenton commented on #37
Dear Lauren

Thanks a lot for your quick response.
Your diagnosis seems to be correct - there seems to be a problem interpreting the command.

Double quotes didn't solve it, but if I edit the ntJoin file (the script containing the make command) and include the references and other parameters there, then it runs correctly.

I suppose this may be a locale problem - I am in Japan. I am working on a m

[2020-07-13 23:05] lcoombe commented on #37
Hi Matt,

I'm glad you found a work-around! Perhaps it is a locale thing -- the commands with the quotes work for me on centos7, macOS and in a homebrew docker image, so it's a bit difficult for me to troubleshoot on my end unfortunately...
I'll let you know if I come up with a better work-around!

Lauren

[2020-07-13 23:05] #37 closed

[2020-07-18 05:58] #32 closed

[2020-07-30 01:17] sadikmu opened #38 "time: command not found... Error 127"
Hi thanks a lot for this nice tool.

I am getting the following error message and could not able to figure what I have missed here.

[code]

std.out
[code]
`
Any suggestions please?

Thanks

[2020-08-04 15:36] lcoombe commented on #38
Hi @sadikmu,

Sorry for the delayed response -- I was on vacation last week.

This error looks similar to the one reported in #32 - It looks like the command `time` isn't found on your system? Try setting the `time` variable to a time command that you do have available on your system (`/usr/bin/time`? `gtime`?), or you could also try  `time= `. The latter should clear out the `time` variable so it

[2020-09-05 19:48] #38 closed

[2020-10-01 16:53] azrasid opened #39 "ntJoin command time -v -o"
HI,
I am running ntJoin and getting this error

[azra@n14 ABYSS]$ ntJoin assemble target=ind78-scaffolds.fa target_weight=1 references=/home/azra/Simulation/genes/cyp2c19/blast_scaffolds/cyp2c19ref.fa reference_weights=‘2’ 

command time -v -o /home/azra/Simulation/genes/cyp2c19/blast_scaffolds/cyp2c19ref.fa.k32.w1000.tsv.time /opt/exp_soft/bioinf/bin/src/indexlr --pos -k 32 -w 1000 -t 4 /home/azr

[2020-10-01 17:07] lcoombe commented on #39
Hi @azrasid,

How did you install ntJoin? If you installed from source, then you need to make sure that you compiled the indexlr code: https://github.com/bcgsc/ntJoin#installing-ntjoin-from-the-source-code

Also, make sure that all of your files are in your current working directory, instead of specifying absolute paths. You can make soft links to ensure the program sees the files in the current w

[2020-10-01 17:24] azrasid commented on #39
I really appreciate your quick response.
Thanks

[2020-10-05 08:32] azrasid commented on #39
Hi,
Everything related to ABYSS is on cluster and the input files is in the same directory. when I ran the command

**[azra@n06 ABYSS]$ ntJoin assemble target=ind78-scaffolds.fa target_weight=1 references=cyp2c19ref.fa reference_weights=‘2’**

I am getting this.

command time -v -o cyp2c19ref.fa.k32.w1000.tsv.time /opt/exp_soft/bioinf/bin/indexlr --pos -k 32 -w 1000 -t 4 cyp2c19ref.fa > cyp2c19ref

[2020-10-05 15:44] lcoombe commented on #39
Hi @azrasid,

What version of `python-igraph` are you using? Is it possible that you installed `igraph` instead? I haven't seen this error myself before, but it looks similar to one reported here at StackOverflow: https://stackoverflow.com/questions/36200707/error-with-igraph-library-deprecated-library

[2020-10-06 12:46] azrasid commented on #39
Thanks Lauren.
I will update and see.

[2020-10-06 19:31] azrasid commented on #39
Apologies to bug you again.
this time the ntJoin command ran nicely - but this line at the end. Below is the snippet of what I got when I ran the command.

Total number of components in graph: 1

2020-10-06 17:37:47.908284 : Printing output scaffolds
2020-10-06 17:37:47.999333 : DONE!
touch ind78-scaffolds.fa.k32.w1000.n1.unassigned.scaffolds.fa
command time -v -o ind78-scaffolds.fa.k32.w1000.n1.a

[2020-10-06 19:50] lcoombe commented on #39
Hi @azrasid ,
Yup - based on that snippet of the log, the run looks good to me!
If you ever wanted to double check that your installation is running properly, you could also run the script mentioned in the README here: https://github.com/bcgsc/ntJoin#testing-your-installation

[2020-10-08 19:23] azrasid commented on #39
Thanks for being with me throughout my ntJoin journey.

Best Wishes

[2020-10-08 19:23] #39 closed

[2020-10-08 19:52] lcoombe commented on #39
No worries! Glad I could help :)

[2020-10-15 12:06] rungitta opened #44 "Conda install fails"
I'm trying to install ntjoin with conda using these commands:
$ conda create pip bedtools samtools -c bioconda --prefix=/cluster/home/$USER/ntjoin
$ conda activate /cluster/home/$USER/ntjoin
$ pip install pybedtools python-igraph pymannkendall
$ conda install -c bioconda ntjoin

The last command produces this error:

UnsatisfiableError: The following specifications were found
to be incompatible wi

[2020-10-15 12:07] rungitta opened #45 "Conda install fails"
I'm trying to install ntjoin with conda using these commands:
$ conda create pip bedtools samtools -c bioconda --prefix=/cluster/home/$USER/ntjoin
$ conda activate /cluster/home/$USER/ntjoin
$ pip install pybedtools python-igraph pymannkendall
$ conda install -c bioconda ntjoin

The last command produces this error:

UnsatisfiableError: The following specifications were found
to be incompatible wi

[2020-10-15 12:07] #45 closed

[2020-10-15 16:46] lcoombe commented on #45
Hi @rungitta ,

I'm hoping that you were able to solve this, since you closed the issue, but in case it's helpful -- I wasn't able to reproduce the conda installation error on a linux machine, but I could when I was on a mac machine.
I solved the issue by simply running these commands to update the priority order of the channels in my activated conda environment:
[code]
`conda install ntjoin` then

[2020-10-15 16:50] lcoombe commented on #44
Hi @rungitta ,

Sorry, I didn't realize at first this is a duplicate of #45, so I answered there first.

I wasn't able to reproduce the conda installation error on a linux machine, but I could when I was on a mac machine.
I solved the issue by simply running these commands to update the priority order of the channels in my activated conda environment:
[code]
`conda install ntjoin` then executed fi

[2020-10-16 07:57] rungitta commented on #44
That seemed to do the trick! Thank you for the swift response.

Can you add '-c conda-forge' to your README so it works out of the box:

conda install -c bioconda -c conda-forge ntjoin

--
Axel Rosén, Head Engineer
Research Infrastructure Services Group, USIT
University of Oslo, Norway

On Thu, Oct 15, 2020 at 04:51:14PM +0000, Lauren Coombe wrote:

[2020-10-16 07:59] eriled opened #46 "Error - reference.fa source file is in invalid format!"
Hi,
I get this error message when I try to run ntJoin.
ntJoin assemble t=4 target=Bullfinch_hybrid.fa target_weight=1 references='ZFtoplevel_unmask.fa' reference_weights='2' k=32 w=1000
command time -v -o ZFtoplevel_unmask.fa.k32.w1000.tsv.time /cluster/home/ericale/ntJoin/src/indexlr --pos -k                                    32 -w 1000 -t 4 ZFtoplevel_unmask.fa > ZFtoplevel_unmask.fa.k32.w1000.

[2020-10-16 15:40] lcoombe commented on #46
Hi Erica,

It looks like you are missing the conventional `>` character on the header lines of your reference file? Or maybe it's just how the comment formatted? The program is expecting the reference (and target assembly) in [fasta format](https://en.wikipedia.org/wiki/FASTA_format), so is expecting each header line in the file to begin with that character. Also, I can't tell from the formatting

[2020-10-16 15:44] eriled commented on #46
Hi,
It is a valid fasta file (I have used it for other things with no problems)- it is just the way it appeared here, but it is a multiline fasta. I will fix that and try again.

Thanks,
Erica

[2020-10-16 15:44] lcoombe commented on #44
Great, I'm glad that worked!

And yes, that's a really good suggestion to add that to the README - I just made that change in d7c48e0

All the best!
Lauren

[2020-10-16 15:44] #44 closed

[2020-10-16 15:45] lcoombe commented on #46
Ah ok - must have just been how github auto-formatted your example entries that I couldn't see the `>`. Yes, let me know if removing those newlines in the sequences does the trick!

Best,
Lauren

[2020-10-27 07:08] eriled commented on #46
Hi,
This works fine now and this software is very useful for me - Thanks very much. Maybe this one-line fasta format should be mentioned in the documentation since a lot of reference genomes (e.g. from Ensembl and Genbank) are multi-line when downloaded.
Best wishes,
Erica

[2020-10-27 19:06] lcoombe commented on #46
Hi Erica,

I'm glad that fixed the issue, and that ntJoin is working well for you!
Yes, you make a good point about the documentation -- I've added a note about the single-line fasta format requirement to the documentation in b0ce5fb.

Best,
Lauren

[2020-10-27 19:06] #46 closed

[2020-11-18 20:49] eriled opened #52 "Large scaffolds (parts of scaffolds) not assigned"
Hi,
I am trying to improve my denovo assembly with ntJoin v1.0.3. For the most part, it seems to be doing what I had hoped, but I some results that I do not understand.
I have 2 assemblies - 1 long-read only Oxford Nanopore assembled with flye and polished with polca (using Illumina reads), and one hybrid assembly using Masurca (and the same data). My contig/scaffold count was 1740 for the flye as

[2020-11-18 23:30] lcoombe commented on #52
Hi Erica,

With the options that you have specified, ntJoin will make cuts where one assembly is 'misassembled' with respect to the other assembly - so it can break contigs and incorporate the pieces in different paths. (`no_cut=True` turns off this behaviour so the target contigs will not be cut, and are incorporated into the best path)

A scaffold being unassigned could possibly happen for a few

[2020-11-19 21:05] eriled commented on #52
Hi,
Thanks for the fast response.
Can you please recommend a way for me to visualize the graph? I could not seem to figure out which software to use.
I can see something like this from the mx.dot file  (using grep -B1 'scf7180000009665'). There are more matches from grep, but these cover the unassembled part.
--
('contig_713', 146835)
('scf7180000009665', 136462)"]
--
('contig_1061', 2968455)
('sc

[2020-11-19 23:11] lcoombe commented on #52
Hi Erica,

I use `neato` or `dot` to visualize dot files -- although you would want to do some filtering on the graph prior to doing that. For example, filtering out particular nodes or a neighbourhood of a particular node.

If a target scaffold is larger than the reference scaffolds, that wouldn't cause a problem, but if the reference doesn't provide any additional information of how that large s

[2020-12-03 13:49] jacorvar opened #54 "no changes in assembly"
Hi,

I've run ntJoin with default parameters as in the example and I get exactly the same results as the "raw" assembly in terms of scaffolds. I have tried with several values for `reference_weights` and `k`. The command:

[code]

Some context: I have MiSeq data for a gram-negative bacterial species and have assembled it using Spades. My goal is to remove misassemblies and to get a "real" syntheny

[2020-12-03 16:41] lcoombe commented on #54
Hi @jacorvar,

Yes, for a reference/target pair the `reference_weight` you've set above makes sense. I would try lower `w` values along with the sweep in `k` values, particularly if you are working with a bacterial species, since it should be running quite fast.

You could also double check that your installation is working properly with the test here: https://github.com/bcgsc/ntJoin/blob/master/t

[2020-12-03 17:50] jacorvar commented on #54
Hi @lcoombe ,

I've tried `w`  and  `k` values ranging from 20 to 500  and from 10 to 200, respectively, but nothing changes: the final assembly equals the original one.

My reference is the actual reference genome, so I fully trust it. I have also ran the test and everything seems to be alright, so I cannot understand why there's no change.

Thanks

[2020-12-03 17:53] lcoombe commented on #54
Hi @jacorvar,

Yes that is very surprising to me as well.. And the log file looks fine? No errors there?
How contiguous is your target assembly? I'm assuming the reference is in a single piece? Is the reconstruction on-target for your target assembly (ie. no over-assembly)?

[2020-12-23 05:23] ardy20 opened #55 "Input file Error"
Dear All

I used conda to run ntJoin but I got the following input file problem while running ntJoin:

server@fl002:/30days/ntJoin> ntJoin assemble target=1L_final.p_F_ctg.fa target_weight=1 references='list.fa' reference_weights='2' k=32 w=500 t 18
/30days/ntJoin/bin/share/ntjoin-1.0.5-0/src/indexlr --long --pos -k 32 -w 500 -t 4 list.fa > list.fa.k32.w500.tsv
[2020-12-23 15:17:01] [ERROR] list.f

[2020-12-23 15:14] warrenlr commented on #55
thank you for your message & interest in ntJoin, Ardy.

Just wondering, did you try without quotes:

eg.
[code]

A possible format issue may be related to DOS and new line characters. If you didn't generate ref.fa on a unix system, I encourage you to run dos2unix (or a PERL one-liner `perl -pi -e's/\015\012/\012/g' ref.fa`) to convert to a unix format.

I hope this solves it.

Cheers,
Rene

[2020-12-28 08:45] yangyxt opened #56 "input multiple reference genome failed to parse"
Here is the command I write:

`ntJoin assemble target=assembly_graph_raw_nodes.fasta references='ref1.fasta ref2.fasta' target_weight=1 reference_weights='2 2' k=127 mkt=True agp=True no_cut=True`

According to the log file:
ntJoin only read the first ref genome and use it for scaffolding in the first round. And it runs smoothly without an error.
But when it comes to the second ref fasta file. The

[2020-12-28 08:49] yangyxt commented on #54
I've met a similar problem. Changing the k value does not alter the result much.

Here is the summary of number of scaffolds in result. Only the first result is the assigned one, leaving the rest of them unassigned, causing the large number of scaffolds in scaffolding result.
![image](https://user-images.githubusercontent.com/40780228/103202077-71b4e000-492c-11eb-980c-8b2e23891034.png)

[2020-12-28 23:06] ardy20 commented on #56
Hi I think you may need to rename 'ref2.fasta' to 'ref2.fa'.
eg. mv ref2.fasta ref2.fa
Hope this helps
Regards
Ardy

[2020-12-28 23:08] ardy20 commented on #55
Hi Rene

I tried both methods but I still get the same error. My ref.fa is a chromosome level assembly including 41 scaffolds from Dovetail Omni-C.

[ERROR] jasmine-uni1535-mb-hirise-37a2i_11-18-2020__final_assembly.fa source file is in invalid format!
make: *** [/30days/ntJoin/bin/share/ntjoin-1.0.5-0/ntJoin:163: jasmine-uni1535-mb-hirise-37a2i_11-18-2020__final_assembly.fa.k32.w250.tsv] Error 1

[2020-12-28 23:13] warrenlr commented on #55
and the ntjoin demo works as intended?

If so, there has to be something to do with the format of ref.fa .. take a look at the demo "ref.fa" to see what is different in the format.

[2020-12-28 23:35] ardy20 commented on #55
The ref.fa is like the format below but has 41 scaffolds:

CCCTAAACCCTAAACCCTAAACCCTAAACCCTAAACCCTAAACCCTAAACCCTAAACCCTAAACCCTAAACCCTAAACCCTAAACCCTAAACCCTAAACCCTAAACCCTAAACCCTAAACCCTAAACCCTAAACCCTAAACCCTAAACCCTAAACCCTAAACCCTAAACCCTAAACCCTAAACCCTAAA
CCCTAAACCCTAAACCCTAAACCCTAAACCCTAAACCCTAAACCCTAAACCCTAAACCCTAAACCCTAAACCCTAAACCCTAAACCCTAAACCCTAAACCCTAAACCCTAAACCCTAAACCCTAAACCCTAAACCCTAAACCCTAAACCCT

[2020-12-28 23:57] ardy20 commented on #55
It looks like this:

CCCTAAACCCTAAACCCTAAACCCTAAACCCTAAACCCTAAACCCTAAACCCTAAACCCTAAACCCTAAACCCTAAACCCTAAACCCTAAACCCTAAACCCTAAACCCTAAACCCTAAACCCTAAACCCTAAACCCTAAACCCTAAACCCTAAACCCTAAACCCTAAACCCTAAACCCTAAACCCTAAA
CCCTAAACCCTAAACCCTAAACCCTAAACCCTAAACCCTAAACCCTAAACCCTAAACCCTAAACCCTAAACCCTAAACCCTAAACCCTAAACCCTAAACCCTAAACCCTAAACCCTAAACCCTAAACCCTAAACCCTAAACCCTAAACCCTAAACCCTAAACCCTAAACCCTAAACCCTAAACCCTAAA

[2020-12-28 23:58] ardy20 commented on #55
In Linux it has > and there is no gap but when I copy-paste here it looks like this.

[2020-12-29 07:31] ardy20 commented on #55
This time I tried the test files and got this error:

/gpfs1/scratch/30days/ntJoin/bin/share/ntjoin-1.0.5-0/src/indexlr --long --pos -k 32 -w 250 -t 4 ref.fa > ref.fa.k32.w250.tsv
/gpfs1/scratch/30days/ntJoin/bin/share/ntjoin-1.0.5-0/src/indexlr --long --pos -k 32 -w 250 -t 4 scaf.f-f.fa > scaf.f-f.fa.k32.w250.tsv
samtools faidx ref.fa
samtools: error while loading shared libraries: libcrypto.so.1

[2021-01-06 17:03] lcoombe commented on #55
Hi @ardy20,

As Rene mentioned, for this error that you are getting:
[code]
That indicates that there is something wrong with the format of that fasta file. Can you double check that you properly converted from multi-line fasta to single line fasta (ie. sequences fully on one line) for all input fasta files? I use `seqtk seq` for this. From the comment with sequence `Scaffold_1__1_contigs__length_

[2021-01-06 17:07] lcoombe commented on #56
Hi @yangyxt,

It looks like your file system isn't parsing the single quotations properly. So in that case, it is seeing `ref2.fasta` as the name of a Makefile target, instead of part of the `references` variables.

A couple things you can try - I can't test on my end because I don't see the same issue on my local mac machine or on our linux servers: Use double quotes instead of single quotations,

[2021-01-06 22:35] lcoombe commented on #54
@yangyxt - As I mentioned above, it's important to also do a sweep of 'w' as well as k-values. In fact, I'd expect that the window size `w` to be more important than the `k` value, as it impacts the density of minimizers found in the input assemblies.

Without any information about the particular assemblies (what the draft, references are, is there over-assembly, contiguity, command used, did you

[2021-01-18 22:09] wuxingbo1986 opened #57 "conda install the wrong package"
Hi,

I just installed ntJoin with bioconda. Then I relize it points to a totally different package called make.

ntJoin -h
Usage: make [options] [target] ...

Please check.

Thanks.
Xingbo

[2021-01-18 22:19] lcoombe commented on #57
Hi @wuxingbo1986 ,

Please check the `ntJoin` README for information about how to run the program - the issue is not with the bioconda package, but with how you are running the `ntJoin` script. The `ntJoin` driver script is a Makefile which drives each step of the ntJoin pipeline.  `ntJoin help` will print out the help message.

There is also an example of how to run the program and test your inst

[2021-01-19 00:05] #57 closed

[2021-01-19 04:16] wuxingbo1986 commented on #37
Hi Matt,

I have the exact same issue. I tried your trick but did not work. Do you mind send me the copy of your modified ntJoin file?

I use macOS in conda env. it run well in single reference. Not sure what's wrong with multiple references.

Thanks.
Xingbo

[2021-01-19 07:05] matt-shenton commented on #37
Hi Xingbo

The file is as below. I haven't tried it on macOS.
As you see, the version of ntjoin is 1.0.3.

Hope you find it useful
Cheers
Matt

#!/bin/bash
make -f /lustre/home/mshenton/anaconda3/bin/share/ntjoin-1.0.3-0/ntJoin assemble target='naba.scaffolds.fasta' target_weight=1 references='R498_Chr.fasta IR8_genome.fasta' reference_weights='2 3' k=64 w=128 t=4 G=100 agp=True no_cut=True

[2021-01-19 16:48] lcoombe commented on #37
Hi @wuxingbo1986 - Feel free to post your command and error, in case that helps us to troubleshoot. I'd be interested to see what the error was on macOS, since I run ntJoin on macOS in a conda environment and haven't seen anything similar.

[2021-01-20 18:27] lcoombe commented on #37
Hi @matt-shenton and @wuxingbo1986 ,

I've implemented an option to use a config file to specify the multiple references vs. using a list on the command line, in the hope that this could be a work-around for the issues you were seeing with the quotes.

Since I can't reproduce the error on my side, I'd really appreciate it if either of you would give it a try before I merge the changes to master. T

[2021-01-21 05:05] wuxingbo1986 commented on #37
Thanks Matt.

[2021-01-21 05:07] wuxingbo1986 commented on #37
Hi Lauren,

My error mesage is the same like Matt posted.

I will try the updates and let you know.

Thanks.
Xingbo

[2021-01-23 11:35] NTNguyen13 opened #58 "No output after running"
Hi, I'm currently trying out ntjoin. So far I run it with this command:

[code]

the program runs fine until:
Total number of components in graph: 2
[code]

It seems like both inputs are OK, I don't know what wrong in my case. I created new conda environment and install ntjoin from conda channel.

[2021-01-23 19:31] lcoombe commented on #58
Hello @NTNguyen13,

The issue is likely that you are providing full paths to those input files, instead of just having the inputs in your working directory (by copying or creating soft links).

For example, setting:
[code]
instead of:
[code]

There's an example in this part of the README as well that might help: https://github.com/bcgsc/ntJoin#example
Give the same command a try without the full p

[2021-01-25 01:45] matt-shenton commented on #37
Hi Lauren,

I gave it a quick try, but I'm finding some other error using v. 1.0.5 vs 1.0.3

I will figure it out, but probably takes a couple of weeks before I have time to troubleshoot properly. Sorry for the delay.

Best wishes
Matt

[2021-01-25 02:57] NTNguyen13 commented on #58
Hi, I have tried this method, it works wonderfully.
I want to note this about installation, though.

The plain installation method (conda create new environment and then install) will fail after running `samtools faidx ...` with this:
[code]

Then I fixed this by updating pysam `conda update pysam`, then if I continue to run in the same folder, it's gonna finish. However, if I run a new scaffoldin

[2021-01-25 16:59] lcoombe commented on #37
Hi @matt-shenton,

Ok thanks for giving it a try! Do feel free to post your error message - there haven't been any major functional changes to ntJoin between 1.0.3 and 1.0.5, so that's strange. I'd be interested if it was perhaps either due to using multi-line fasta files (`indexlr` fails if you do not use single-line fasta files with a full sequence in a single line) or something to do with your

[2021-01-25 18:30] lcoombe commented on #58
HI @NTNguyen13,

Great, I'm glad the fixed command worked!

That appears to be an issue with your `samtools` installation in your conda environment (Not within the ntJoin code), so I'd troubleshoot that by either updating `samtools` or doing a re-install. A good way to test whether `samtools` is fixed or not is to run something like `samtools faidx` without parameters to get the help page. You sho

[2021-01-26 02:14] NTNguyen13 commented on #58
by running without parameter, it still gives the same error.
Reproduce the problem
1, Create new conda environment
2, Install ntJoin by using: `conda install ntjoin`
3, Run scaffolding: it will fail after `samtools faidx` step
4, Update pysam: `conda update pysam`, scaffolding after `samtools faidx` step is OK, but the `samtools faidx` step will fail.
5, Update samtools: `conda update samtools`: a

[2021-01-26 03:23] lcoombe commented on #58
Hi @NTNguyen13 ,

Ok I was able to reproduce that error on my mac -- it's a strange one, and as you say must be due to some incompatibilities with those dependencies on the conda side. I see that there is a newer `samtools` version than `pysam` version, so perhaps related to that? I'll try to patch the conda recipe, but this works for me as a workaround for now:

1. Create new conda environment (a

[2021-01-27 02:19] matt-shenton commented on #37
Hi Lauren,

It's an environment problem, couldn't locate the correct libraries, if I remember correctly. I should be able to figure it out when I give it some time.

Cheers
Matt

[2021-01-27 03:05] NTNguyen13 commented on #58
Hi, I can confirm that installing in this way works, I will close the issue. Thank you for your support.

[2021-01-27 03:05] #58 closed

[2021-01-27 16:37] lcoombe commented on #58
Excellent, thank you for letting me know @NTNguyen13 !
I'll see if I can make a fix upstream in the conda recipe this week.

[2021-01-27 16:54] lcoombe commented on #37
Hi Matt,

Ah I see -- not sure if you're using a conda environment, but just in case there seems to be some sort of samtools/pysam issue right now that I suggested a workaround for here: https://github.com/bcgsc/ntJoin/issues/58

Just mentioning in case that saves you some time when you have a chance to come back to ntJoin! :)
Lauren

[2021-01-29 19:50] lcoombe commented on #58
Just an FYI, I also found this worked for me:
[code]
I've opened a PR for the conda recipe specifying at least this pysam version, so hopefully that solves the issue.

[2021-02-01 16:43] AMMMachado opened #60 "Set up paremeters"
Hi @lcoombe,

First of all thank you for this amazing and ultra fast software.

We are working with several genomes, from fish's until mammals with high levels of heterozigoties and repeats.To mitigate these characteristics we have sequenced pacbio Hifi ccs datasets and short reads PE 250 (unfortunately the datasets are from different individuals).  Now we are trying to integrate and use both data

[2021-02-01 18:16] lcoombe commented on #60
Hi Andre,

These are all great questions! Yes, using ntJoin to integrate information from different assemblies is definitely a good use case, and one that we've used within our group a great deal.

`reference_weights`: Correct, it does refer to the relative weights that you give each of the references. That is, if you specify two references with equal weights, you are saying to treat information f

[2021-02-01 19:30] lcoombe commented on #58
Another update - I fixed the ntJoin recipe upstream in bioconda (specified that newer pysam), so if you install the latest ntJoin packge 1.0.5 (build 1), then that should also fix the issue.
Just double check that it is using the newer build (https://anaconda.org/bioconda/ntjoin/files), so the build string + `1` as the build number.

The previous fix also still works :)

[2021-02-02 18:19] AMMMachado commented on #60
Hi @lcoombe,

Thank you so much for the speedy response and the valuable informations.

We have performed several tests per reference (multiple k 15, 17, 19, 21, 24, 27, 32 and w 50, 100, 250, 500, 750, 1000, 1500, 2000)  and the results are quite similar, at contiguity and busco level( N50 increasing 300-400kb (per interaction) / and 1-2% buscos in the total). In general the interactive runs show

[2021-02-03 18:14] lcoombe commented on #60
Hi Andre,

I think your approach makes sense! Generally, when I'm deciding on the best assembly per an iteration, I would tend to pick the assembly that has the highest NG50/complete BUSCOs, and perhaps use the number of scaffolds as a tie-breaker, but I think there are multiple metrics that would be just fine. Also, if the results from the different parameter combinations are quite similar, then

[2021-02-06 00:27] lcoombe commented on #56
FYI - a new option to specify a config file listing the reference file names and weights (in lieu of using `references` and `reference_weight` variables) was added in release [v1.0.6](https://github.com/bcgsc/ntJoin/releases/tag/v1.0.6)

[2021-02-06 00:28] lcoombe commented on #37
FYI - the new option to specify a config file listing the reference file names and weights (in lieu of using `references` and `reference_weight` variables) was added in release [v1.0.6](https://github.com/bcgsc/ntJoin/releases/tag/v1.0.6)

[2021-02-09 05:04] matt-shenton commented on #37
Hi Lauren, Thanks for the update. I will get to testing it soon. Just snowed under at the moment.

Cheers
Matt

[2021-02-09 16:35] lcoombe commented on #37
Sounds good, thanks @matt-shenton ! And of course no rush - just hoping that this fix will help you and other users who have the same issue :)

[2021-02-25 14:29] NTNguyen13 opened #63 "Chromosome order after scaffolding"
Hi, I'm quite happy with the result and capability of ntJoin that it can integrate multiple references for scaffolding. However I also want to keep the original reference chromosome name, or at least know which the newly-created scaffold come from. At this moment, I just have tried 1 reference, 1 target case: the scaffolded chromosomes are named `nt*`, and I'm not quite sure about the related orde

[2021-02-25 16:47] lcoombe commented on #63
Hi @NTNguyen13,

Yes, no matter how many references you use for scaffolding the newly-created scaffolds ntJoin will be named `ntJoin*`, as you observed.
If you want to see what contigs were joined using the information from the specified reference(s), you can either look at the output `.path` file, or set `agp=True` to output an agp file describing the makeup of the output scaffolds.
From either,

[2021-02-26 03:04] NTNguyen13 commented on #63
Hi, I have checked out the *.path and *.agp file, and I saw how each newly-created scaffold made from the target contigs. However I want to know the relationship between the new scaffolds and the reference chromosomes. For example, I want to scaffold de novo assembly contigs into hg38, I want to know how the ntJoin0 related to chr1, and so on.

[2021-02-26 16:52] lcoombe commented on #63
Hi @NTNguyen13,

ntJoin uses a lightweight minimizer-graph approach to map the target to the reference sequence(s). To create the paths that you see in the path and agp files, we filter the graph, then traverse the linear paths in this graph. So, it would require some parsing on your end depending what detail of information you want, but that mapping information of target contigs to reference is i

[2021-03-01 11:15] NTNguyen13 commented on #63
Thank you for your answer. I will research more on this problem :+1:

A bit off-topic, I want to know how the result in the original paper are produced. From the Supplementary documents, I found this
[code]

As I understand, there are 2 major cases:
- Case 1: assembly by using short reads and then scaffolding using GRCh38 as reference. Parameter: t=4, target_weight=1, reference_weights=’2’, n=2. k

[2021-03-01 16:59] lcoombe commented on #63
Hi @NTNguyen13,

Yes those are the two main cases that we talk about in the paper! We also show scaffolding a long read assembly with a reference. That's the nice thing about ntJoin - it can be useful for a lot of different scenarios, as long as you have a target assembly that you want to contiguate, and at least one reference (which can be true reference-grade or a draft assembly).

Generally, th

[2021-03-02 09:54] NTNguyen13 commented on #63
Many thanks!

[2021-03-02 09:54] #63 closed

[2021-03-24 12:26] guanttttt opened #64 "ntJoin:test error"
Hello!
when I use the command to test my ntJoin installation:
1. i input "set -eux" in Linux,but there is nothing present, no echo "Running ntJoin..."
2. i run the second command"ntJoin  assemble target=scaf.f-f.fa target_weight=1 references='ref.fa' reference_weights='2' prefix=f-f_test k=32 w=1000" in the directory of tests, and there is a error of "ModuleNotFoundError: No module named 'igraph'"

[2021-03-24 15:39] lcoombe commented on #64
Hello @guanttttt,

For (2), just to be sure, are you executing the following command in the `tests` directory?
[code]
If so, could you post the command + any following log messages from your terminal?

For (2), that means that you haven't installed the `python-igraph` module for the python version that you are using. Take another look at the [dependencies](https://github.com/bcgsc/ntJoin#dependenc

[2021-03-25 08:47] guanttttt commented on #64
thank you!！
 I have resolved the second problems, for the error of "No module named 'igraph'", that is some python modules i didn't install them before as you say (including python-igraph,pybedtools and pymannkendall)
now i run the command of "./test_installation.sh" in the test directory,  i got another error of "Error: malformed BED entry at line 1. Start was greater than end. Exiting.bedtools g

[2021-03-30 08:26] guanttttt commented on #64
thank you! i have resolved these two problems. but there have another question about the reference file.
1. the reference file: in the supplementary table-S1-c.elegans-Bristol N2 reference
2. the target assembly : also in S1-c.elegans-AByss

and i got the error of `"[ERROR] GCF_000002985.6_WBcel235_genomic.fna source file is in invalid format!"`, i have tried to delete the line break in this file(

[2021-03-31 02:32] guanttttt commented on #64
hello @lcoombe
i am so appreciate your quick reply! The relevant code is as follows:
1. this is the command that i used to launch ntJoin:
 `ntJoin assemble target=celegans-abyss.fa target_weight=1 references='result2.fna' reference_weights='2' k=32 w=500`

there have a contradiction that when i use the result2.fna, it present the error of `[ERROR] A sequence contains invalid IUPAC character: >` ,s

[2021-03-31 02:42] guanttttt commented on #64
the convert code  will delete all of line breaks in  fasta file, so i would add an enter at the end of the first row.
just like: `>NC_003279.8 Caenorhabditis elegans chromosome Igcctaagcctaagcctaagcctaagcctaag...`  add an enter after 'I'

i also deal the data set of H_sapiens, it has the same error.

[2021-03-31 04:28] lcoombe commented on #64
Hi @guanttttt,
It's possible that adding line breaks with 'enter' like that could be introducing unexpected characters.
I'd suggest using `seqtk seq` to do the file conversion, since it's pretty easy to use and reliable. It's available on homebrew or conda if you're using those package managers.
Ie.
[code]

The demo ran fine for you, right? You could double check that your file formats are identic

[2021-04-02 03:25] guanttttt commented on #64
Hi @lcoombe
You are soooooo cool!!!  I have completed a command run successfully! As you say, maybe my convert code does have some problems which could cause the data set didn't work, so i use the command of `seqtk seq` and it worked!

I am so appreciate your help! :)

[2021-04-06 15:33] lcoombe commented on #64
@guanttttt - Yay!! I'm so glad you got it working! :D

[2021-04-06 15:33] #64 closed

[2021-04-15 13:25] ibbaMI opened #65 "Error"
I got this error while runnin ntjoin:
Traceback (most recent call last):
  File "/home/pc/miniconda3/bin/share/ntjoin-1.0.6-1/bin/ntjoin_assemble.py", line 1125, in <module>
    main()
  File "/home/pc/miniconda3/bin/share/ntjoin-1.0.6-1/bin/ntjoin_assemble.py", line 1122, in main
    Ntjoin().main()
  File "/home/pc/miniconda3/bin/share/ntjoin-1.0.6-1/bin/ntjoin_assemble.py", line 1112, in main

[2021-04-15 13:53] ibbaMI commented on #65
Problem solved,

it was a path file issue.

Raul

[2021-04-15 13:53] #65 closed

[2021-04-15 15:51] lcoombe commented on #65
I'm glad you solved the issue @ibbaMI!

[2021-04-23 16:38] #52 closed

[2021-05-15 16:30] ricardo-aaron commented on #55
I'm having the same "file is in invalid format!" problem. It appears the problem is that ntJoin does not accept wrapped fasta files, it will only accept fasta files where the sequence is in a single line. Which is a strange behavior since wrapped fasta is supposed to be the standard (or so I thought).

[2021-05-15 18:12] lcoombe commented on #55
Hello @ricardo-aaron,

Yes, your input fasta file needs to be in the single line fasta format (vs. having new-line breaks) - like we mention in the help documentation (https://github.com/bcgsc/ntjoin#usage)

In my experience, it's not uncommon for tools to only work with single-line fasta formats, which is what I always work with myself. Luckily, it's really easy to convert a multi-line fasta to a

[2021-05-16 02:42] #60 closed

[2021-05-16 02:42] #56 closed

[2021-05-16 02:42] #54 closed

[2021-05-21 02:39] #55 closed

[2021-07-20 00:51] ysawires12345678 opened #69 "[2021-07-19 21:34:27] [ERROR] strain-13-plasmid.txt source file is in invalid format!"
Hello,
I'm trying to assemble plamisd contigs using a fully assembled reference sequence. all the files are in fasta format (just opened in notepad to verify the formate. all the files are in the same directory "bin" .
I ran this command "ntJoin assemble target= ABDU01.1-plasmid references='strain-13-plasmid.txt ,FDAARGOS_904_plasmid.txt ,FDAARGOS_903_plasmid.txt' reference_weights='2 1 1'"
and I

[2021-07-20 16:16] lcoombe commented on #69
Hi @ysawires12345678,

The error indicates that your input file(s) are not in the correct fasta format. You are using a non-standard suffix for your fasta files there (.txt usually being for normal text files), so start by using a standard suffix, such as `.fa`. Also, I see that you are using commas to separate some of the references? If that's part of the file names, that's OK, but remove them if

[2021-07-20 17:45] ysawires12345678 commented on #69
Thanks for your response.
I removed the new  line breaks and it operated fine (I think). white one of the out put file would be the assembled sequence or there is further step?" is it ABDU01.1-plasmid.fa.k32.w1000.n1.assigned.scaffolds.fa"
regards
John

[2021-07-20 17:46] ysawires12345678 commented on #69
Thanks for your response.
I removed the new line breaks and it operated fine (I think). Which one of the out put files would be the assembled sequence or there is further step?" is it ABDU01.1-plasmid.fa.k32.w1000.n1.assigned.scaffolds.fa"
regards
John

[2021-07-20 18:24] lcoombe commented on #69
Hi John,

Great! I'm glad that ntJoin is working for you now.

The file with all the final sequences (either scaffolded or not) would be `ABDU01.1-plasmid.fa.k32.w1000.n1.all.scaffolds.fa`
The files `ABDU01.1-plasmid.fa.k32.w1000.n1.assigned.scaffolds.fa` and `ABDU01.1-plasmid.fa.k32.w1000.n1.unassigned.scaffolds.fa` are concatenated to that final file, so you don't lose any sequences in your asse

[2021-08-02 14:58] wuxingbo1986 opened #70 "Translocation after scaffolding based on reference genome"
Hi Lauren,

I am scaffolding the contigs from ccs reads using a reference genome originally scaffolded by HiC. I then aligned the scaffolded genome back to the reference genome and see some translocations over several chromosomes. This two genomes is from the same species so this is kind of weird. Any ideas? The command and the dotplot are both here.

ntJoin assemble target=m54334U.ccs.asm.fa targ

[2021-08-03 16:14] lcoombe commented on #70
Hi @wuxingbo1986,

At first glance, there are a few things here that could be coming into play:
- You are scaffolding an existing assembly, and not making any cuts with the options selected (which is fine!) - But that means that any misassemblies that are existing in the baseline assembly will be propagated to the post-ntJoin version. So errors that were minor pre-ntJoin would look much worse post

[2021-08-25 01:49] #69 closed

[2021-09-01 16:12] Steven-Kemp opened #71 "source file is in invalid format"
Hi Lauren,

I seem to be stumbling at the first instance here - see the below error:

ntjoin assemble target=G61HOA_scaffolds.fasta references=K12ecoli.fasta reference_weights='2' k=32 w=500

/usr/local/Cellar/ntjoin/1.0.7/libexec/bin/src/indexlr --long --pos -k 32 -w 500 -t 4 K12ecoli.fasta > K12ecoli.fasta.k32.w500.tsv
[2021-09-01 17:10:54][ERROR] K12ecoli.fasta source file is in invalid format!

[2021-09-01 16:44] lcoombe commented on #71
Hi Steve,

Is your reference fasta file multi-line? Double check that your fasta files are all single-line (ie. the sequence fully on a single line) - fasta files not being formatted in that way is the most common cause of that error. If needed, I like using a simple `seqtk seq` command to do the converison.

Hope that helps - thanks for your interest in ntJoin!
Lauren

[2021-09-01 16:56] Steven-Kemp commented on #71
Hi Lauren,

Bingo! But now one other strange issue - python-igraph seems to have been deprecated as of today, so now I get this error:

----
ntjoin assemble target=single_120564_scaffolds.fasta references=single_K12ecoli.fasta reference_weights='2' k=32 w=500

/usr/local/Cellar/ntjoin/1.0.7/libexec/bin/bin/ntjoin_assemble.py -p out.k32.w500.n1 -n 1 -s single_120564_scaffolds.fasta.k32.w500.tsv -l

[2021-09-01 17:35] lcoombe commented on #71
Hi Steve,

Hmm - that's a strange one. Can you confirm that you installed `python-igraph`? Not just`igraph`? I just made a fresh conda environment, and installed `python-igraph` - I couldn't replicate the issue..

[code]
[code]

[2021-09-02 15:45] lcoombe commented on #71
Hi Steve,

Excellent - I'm glad that you got it sorted out!

All the best,
Lauren

[2021-09-09 01:50] #70 closed

[2021-09-13 03:30] Krasnopeev opened #72 "cat: standard output: No such file or directory"
Hi!
I installed ntJoin via conda following manual and faced with this errors:

<details>

[code]

</details>

Then I tried the same with test files in `tests` directory and got the same error:

<details>

[code]

</details>

Files in output are empty. All query sequences from fasta file written to *unassigned.scaffolds.fa
Whats wrong?

Thanks!

[2021-09-13 15:53] lcoombe commented on #72
Hi @Krasnopeev,

It looks like the issue is coming from this step:
[code]

Could you give us some more information about your operating system, and where you are running the command? Are you running this on an internal drive, or an external drive like a USB? We had one other user report a similar error message with this step when they were attempting to run a job on an external drive that was runn

[2021-09-14 05:30] Krasnopeev commented on #72
I use Ubuntu 20.04 and run from local HDD, not USB.
I tried to move my fasta files to the conda environment directory `/home/anri/anaconda3/envs/ntjoin/bin/share/ntjoin-1.0.6-1/src/` then run ntJoin in terminal from there and Its finally works!

[2021-09-14 15:41] lcoombe commented on #72
Hi @Krasnopeev,

Glad you got it working! I think the issue must have been the location where you were running the command initially - because you can certainly generally run ntJoin in a directory other than where the installation is (I always run from a different location). Not sure about your set-up, but perhaps there was a difference in the file systems. (In your initial post, I saw the prefix

[2021-09-14 15:41] #72 closed

[2021-09-26 09:45] SuPrSh opened #76 "FileNotFoundError: [Errno 2] No such file or directory"
Hi,
I am constantly getting this error message when I try to run ntJoin. Will appreciate any help in this regard.

ntJoin assemble target='/mnt/sdb/P6260/megahit/R1/final.contigs.fa' target_weight='1' references='singleline.ggan_v0.2.fa' reference_weights='2' w=500 t=32 mkt=True agp=True
/root/miniconda3/envs/ntjoin/bin/share/ntjoin-1.0.6-1/src/indexlr --long --pos -k 32 -w 500 -t 32 singleline.gg

[2021-09-27 16:00] lcoombe commented on #76
Hi Surya,

When launching ntJoin, ensure that all of the input files are in your current working directory - Or, as I usually do, create soft-links to your files in your current working directory. Then, when you launch the command, don't use an absolute path, like you have in your command for `target` currently.
So, your command would end up looking something like this:

[code]

Hope that helps -

[2021-09-28 17:43] SuPrSh commented on #76
Thank you @lcoombe.Its working fine now.

[2021-09-28 18:00] lcoombe commented on #76
Excellent - Glad it's working for you!

[2021-09-28 18:00] #76 closed

[2022-02-23 22:09] Shokusei opened #84 "I found a big problem in ntJoin script."
Hi, @lcoombe
I want to use this software to scaffold the contigs obtained from the other genome assembler.
However, after typing the command "test_installation.sh" in the test directory, I found the following error message.

(RSEM) [iceplant4561@at138 tests]$ ./test_installation.sh
+ echo 'Running ntJoin...'
Running ntJoin...
+ ../ntJoin assemble target=scaf.f-f.fa target_weight=1 references=ref.f

[2022-02-23 22:23] lcoombe commented on #84
Hi @Shokusei,

That looks like an issue with your `pybedtools` installation, which is a dependency of ntJoin. You can see that because the traceback is related to `import pybedtools`. It looks like you are using a conda environment, so my best first advice would be to create a fresh conda environment, and install the ntJoin dependencies there (or `conda install -c bioconda -c conda-forge ntjoin=1.

[2022-03-10 13:29] nick-youngblut opened #85 "/ebio/abt3/nyoungblut/.zshenv:.:1: no such file or directory: /ebio/abt3/nyoungblut/.cargo/env"
[code]

[code]

Output:

[code]

`ntJoin assemble` finishes successfully, but there are ~50 of the `/ebio/abt3/nyoungblut/.zshenv:.:1: no such file or directory: /ebio/abt3/nyoungblut/.cargo/env` warnings/error sduring the run.

OS: Ubuntu 18.04.6

[2022-03-10 13:35] nick-youngblut commented on #85
Maybe the output is not correct. Even if I include the target in the set of reference genomes (n=5), I still get `Total number of components in graph: 0` and and empty `*.assigned.scaffolds.fa` file.

[2022-03-10 16:55] lcoombe commented on #85
Hi @nick-youngblut,

Hmm that's a strange error, and one that appears to be related to your environment? Those 'no such file or directory' commands appear to be pointing to environment-related files?

Just to double check that it is your environment (vs. the input data), have you run the test demos (in `tests` directory)?

Do you only see those errors when running ntJoin in that environment? Do yo

[2022-03-11 07:24] nick-youngblut commented on #85
Thanks for the quick response!

No, given that it is not part of the [bioconda recipe](https://github.com/bioconda/bioconda-recipes/blob/master/recipes/ntjoin/meta.yaml), but rust could be added: https://anaconda.org/conda-forge/rust

The warning/error occurs even if I provide files paths that don't exist. For example:

[code]

[2022-03-11 16:58] lcoombe commented on #85
Hi @nick-youngblut,

So just checking, is this a fresh/new environment that you made with ntJoin? And do you see those same errors if you try running any other tool installed in your conda environment?

Also, have you tried running that demo that I suggested? The error that you see `no rule to make target` is expected if the files specified don't exist, so I'm interested in whether with given a se

[2022-03-13 16:16] nick-youngblut commented on #85
This error/warning is specific to ntJoin

Right, but prior to the `file doesn't exist error`, I still get the `.zshenv` warning.

The `~/.zshenv` must have been created sometime recently when I installed rust for another application. I don't see why the `ntJoin` code is interactive with the `.zshenv`, but if I remove the `.zshenv`, then the warning is removed.

Maybe it has something to do with th

[2022-03-31 02:05] #84 closed

[2022-04-19 02:14] #85 closed

[2022-05-28 19:49] sunnyEV opened #88 "Unable to run ntJoin"
Hi,
I already denovo assemled the genome using different assemblies, I try to run ntJoiin by providing the closest reference. It pops up an error.  to run ntJoin do we have to provide a bed file for the assembled genome ?

How to assign weights (reference_weights) ? what is the criteria.
**CMD**
**ntJoin assemble target=/home/sun/data/softwares/gam-ngs-1.1b/bin/Lgibbus_scaffolds.spades.CDHIT.fa re

[2022-05-30 16:02] lcoombe commented on #88
Hi @sunnyEV,

The issue here is that the input files should be in your current working directory - you can use soft-links to achieve this if necessary. Then, do not specify a full path to the file.
For example, your command would look like:
[code]

As for the reference weights, there's some guidance here: https://github.com/bcgsc/ntJoin#parameter-considerations
Generally, if you are using a target

[2022-06-07 17:02] gchaput19 commented on #6
Hi @lcoombe, just want to make sure I am understanding the output correctly. Is the "assigned" what we should use for further downstream analysis? For example, I have an assembly of many bacterial species. I have the full set of reads as my query and then subset assemblies of the same reads that I am using as references. Goal is to capture some of the rarer bacterial isolates by having subset asse

[2022-06-07 18:08] lcoombe commented on #6
Hi @gchaput19,

For downstream analysis, I generally suggest using the "all" file. Basically, the "assigned" file contains all the scaffolds generated by the ntJoin reference-guided scaffolding, and the "unassigned" has all the input contig sequences that weren't assigned to a scaffold. The "all" is just a concatenation of these, which retains all the sequence information from the input assembly.

[2022-07-05 02:17] #88 closed

[2022-08-14 14:15] ohan-Bioinfo opened #92 "Viral contigs"
Dear Developer

Thank you for the great tool

kindly I'm trying to scaffold a viral genome containing only three contigs, and the error below occurred.

Can you please advice

[code]

[2022-08-22 15:24] lcoombe commented on #92
Hello @ohan-Bioinfo,

Apologies for the delay in getting back to you - I was on vacation last week.

A couple initial questions to help with troubleshooting:
- What was your full `ntJoin` command? (I just see the `ntjoin_assemble.py` command there)
- Have you successfully run the test demo? (That just helps to rule out any issues with the installation)

Thank you for your interest in ntJoin!
Laure

[2022-10-19 07:32] Jimaz commented on #92
Hello, @lcoombe,

thank's for this great tool, it's awsome. I have the same error when trying to scaffold an assembly using a bacterial ncbi reference genome containing a chromosome and a plasmid sequence.

Heres is the command I used:

`$ for assembly in *fasta; do ../ntJoin-1.1.1/ntJoin assemble target=${assembly} target_weight=1 reference_config=config_file.csv k=32 w=500; done
`

Thanks in adv

[2022-10-24 15:37] lcoombe commented on #92
Hi @Jimaz,

Thanks for your interest in ntJoin and documenting your solution here! I'm glad to hear you got it working.

Thanks!
Lauren